<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>{{ page.title }}</title>
<link rel="stylesheet" type="text/css" href="/assets/css/portfolio.css">
</head>
<body>
<div class="grid">
<div id="col-title">
    {% include navigation.html %}
</div>
<div id="col-content">
<div style="width:25%; float:left;">
<a href="#ed" style="text-size:3em; font-weight: bold;">Education</a>
<a href="#exp" style="text-size:3em; font-weight: bold;">Experience</a>
<a href="#pubs" style="text-size:3em; font-weight: bold;">Publications</a>
<a href="#skills" style="text-size:3em; font-weight: bold;">Skills</a>
</div>
<div style="width:70%; float:right;">
{{ content }}
</div>
</div>
</div>
<div id="footer"><a class="menu" href="/" style="padding-left:20%;">home</a> <a class="menu"
class='email
href="mailto:x@y"
'
href
 =	'	
&#x20;ma&#x69;&#x6C;&#x74;&#x6f;&#58;%2&#x30;l%6&#x31;u&#114;&#97;1&#x25;&#x32;e%&#55;&#51;&#x74;&#101;ve&#110;s%&#x34;&#x30;u%6&#x64;c&#x6F;&#x25;&#x36;e%6e&#x25;&#54;5&#x63;&#x25;&#55;&#x34;&#37;2e&#x75;&#x6D;t%&#x32;&#x65;&#37;&#x36;&#x35;d&#x25;75?
'>&#108;&#x61;&#x75;&#x72;&#97;&#49;&#46;st&#x65;ve&#x6E;s&#x40;&#x75;<!--
mailto:abuse@hotmail.com
</a>
-->&shy;mco&#x6e;n&#101;&#99;&#x74;&#46;&#x75;&#x6D;&#116;&#46;&#101;d&#x75;</a> <a class="menu" href="about.html">about this site</a> </p>
</body>
</html>

