<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>{{ page.title }}</title>
<link rel="stylesheet" type="text/css" href="/assets/css/portfolio.css">
</head>
<body>
<div class="grid">
<div id="col-title">
    {% include navigation.html %}
</div>
<div id="col-content">
<div style="width:25%; float:left;padding-top:3em;">
<a href="#ed" style="font-size:3em; font-weight: bold;">Education</a>
<a href="#exp" style="font-size:3em; font-weight: bold;">Experience</a>
<a href="#pubs" style="font-size:3em; font-weight: bold;">Publications</a>
<a href="#skills" style="font-size:3em; font-weight: bold;">Skills</a>
</div>
<div style="width:70%; float:right;">
{{ content }}
</div>
</div>
</div>
<div id="footer"><a class="menu" href="/" style="padding-left:20%;">home</a> <a class="menu" href="mailto:stevensl@gonzaga.edu">stevensl@gonzaga.edu</a></a> <a class="menu" href="about.html">about this site</a> </p></div>
</body>
</html>

