<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>{{ page.title }}</title>
<link rel="stylesheet" type="text/css" href="/assets/css/portfolio.css">
</head>
<body>
<div class="grid">
<div id="col-title">
    {% include navigation.html %}
</div>
<div id="col-content">
<div style="width:30%; float:left;padding-top:3em;">
<a href="#ed" class="title">Education</a>
<a href="#exp" class="title">Experience</a>
<a href="#pubs" class="title">Publications</a>
<a href="#skills" class="title">Skills</a>
</div>
<div style="width:70%; float:right;">
{{ content }}
</div>
</div>
</div>
<div id="footer"><a class="menu" href="/" style="padding-left:20%;">home</a> <a class="menu" href="mailto:stevensl@gonzaga.edu">stevensl@gonzaga.edu</a></a> <a class="menu" href="about.html">about this site</a> </p></div>
</body>
</html>

