<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>{{ page.title }}</title>
<link rel="stylesheet" type="text/css" href="/assets/css/portfolio_old.css">
</head>
<body>
<div class="grid">
<div id="col-title">
    {% include navigation.html %}
</div>
<div id="col-content">
<div id="col-l">
<img src="assets/img/meDarwin.jpg" style="margin-top:12%; width:90%;">
<p class="caption">Me meeting Charles Darwin at the Natural History Museum in London!<br/> Rating: 12/10&mdash;great conversationalist, loves to pose for photos, new best friend.  </p>
</div>
<div id="col-r">
<h1>Hello!</h1>
{{ content }}
</div>
</div>
</div>
<div id="footer"><a class="menu" href="/" style="padding-left:20%;">home</a> <a class="menu" href="mailto:stevensl@gonzaga.edu">stevensl@gonzaga.edu</a></a> <a class="menu" href="about.html">about this site</a> </p></div>
</body>
</html>

